# Direnv
/.direnv

# Password files
/gen_passwords.json
/ansible/lowsec.yml

# Certificates
/nomad/etc/ca
/nomad/etc/certs

# Terraform
/nixos/.terraform*
/nixos/config.tf.json
/nixos/terraform.tfstate*

/nixos/log.txt

/.vim
result
*.qcow2
