{
  influxdb = {
    admin.user = "admin";
    admin.password = "@influx_admin";

    telegraf.user = "telegraf";
    telegraf.password = "@influx_telegraf";
  };

  mqtt = {
    admin.user = "admin";
    admin.password = "@mqtt_admin";

    sensor.user = "sensor";
    sensor.password = "@mqtt_sensor";
  };
}
