[core]
cache_dir = /var/run/mopidy

[audio]
output = autoaudiosink

[file]
enabled = false

[http]
enabled = true
hostname = ::
port = 6680
zeroconf = Mopidy HTTP server on $hostname
allowed_origins =
csrf_protection = true
default_app = mopidy

[m3u]
enabled = false

[softwaremixer]
enabled = true

[stream]
enabled = true
protocols =
  http
  https
  mms
  rtmp
  rtmps
  rtsp
metadata_blacklist =
timeout = 5000

[jellyfin]
enabled = true
hostname = {{ mopidy.jellyfin_host }}
username = {{ lowsec.mopidy.jellyfin.user }}
password = {{ lowsec.mopidy.jellyfin.password }}

[mpd]
enabled = true
hostname = ::
port = 6600
password =
max_connections = 20
connection_timeout = 60
zeroconf = Mopidy MPD server on $hostname
command_blacklist =
  listall
  listallinfo
default_playlist_scheme = m3u
