{
  influxdb = {
    admin.user = "admin";
    admin.password = "@influx_admin";

    homeassistant.user = "homeassistant";
    homeassistant.password = "@influx_homeassistant";

    telegraf.user = "telegraf";
    telegraf.password = "@influx_telegraf";
  };

  mqtt = {
    admin.user = "admin";
    admin.password = "@mqtt_admin";

    sensor.user = "sensor";
    sensor.password = "@mqtt_sensor";
  };

  cloudflare = {
    dnsApi.email = "james@@hillyerd.com";
    dnsApi.token = "@cloudflare_dns_api_token";
  };

  nodered.credentialSecret = "@nodered_credential_secret";
}
